<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns=""
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<th:block layout:fragment="head" th:remove="tag">
    <title>LinkDN</title>
</th:block>



<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <!-- header title-->
            <span class="fs-4">Club Hub</span>
        </header>
        <!-- potentially use bootstrap grid system here to show all clubs organized -->

        Here will be a directory page to help students navigate to all clubs; could potentially be some collaboration with club compass.
        <br>
        Put small description of clubs, when/where they meet, how often they meet, president/how to get involves, other useful informatino for students



        <div id="container" class="container py-4">
        </div>

    </div>
</th:block>

</html>