<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns=""
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<th:block layout:fragment="head" th:remove="tag">
    <title>LinkDN</title>
</th:block>



<th:block layout:fragment="body" th:remove="tag">
    <div class="container">

        <form class="form-inline" action="#" th:action="@{/createpost}" th:object="${Posts}" method="POST">
            <div class="form-group mb-2 mr-sm-2">
                <label for="message">Name:</label>
                <input type="name" th:field="*{name}" id="name">
                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
            </div>
            <div class="form-group mb-2 mr-sm-2">
                <label for="message">Message:</label>
                <input type="message" th:field="*{message}" id="message">
                <small th:if="${#fields.hasErrors('message')}" th:errors="*{message}">Message Error</small>
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
        </form>




    </div>



</th:block>


</html>