<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns=""
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<th:block layout:fragment="head" th:remove="tag">
    <title>LinkDN</title>
</th:block>



<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <!-- header title-->
            <span class="fs-4">Recent Posts:</span>
        </header>

        <div class="container py-4 text-light bg-success">
            <div class="row align-items-md-stretch">
                <table class="table">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Posts</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="posts : ${list}">
                        <td th:text="${posts.name}">Name</td>
                        <td th:text="${posts.message}">Post Content</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</th:block>

</html>