<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns=""
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<th:block layout:fragment="head" th:remove="tag">
    <title>LinkDN</title>
</th:block>



<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <!-- header title *Doesn't need to be here if doesn't fit form layout*-->
            <span class="fs-4">Sign In</span>
        </header>

        <div>
            <br>
            <br>
            <br>
            <html>

            <head>
                <link rel="stylesheet" href="css/style.css">
                <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
                <title>Sign in</title>
            </head>

            <body>
            <div style="width:100%;display:grid;grid-template-columns: 3fr 2fr;">


                <div class="main" style="width:100%; margin-top:-60px;">

                    <form class="form1" action="#" th:action="@{/database/usercreate}" th:object="${user}" method="POST">
                            <label for="email">Email:</label>
                            <input class="un" type="email" th:field="*{email}" id="email">
                            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
                            <label for="password">Password:</label>
                            <input class="un" type="password" th:field="*{password}" id="password">
                            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
                            <label for="name">Name:</label>
                            <input class="un" type="text" th:field="*{name}" id="name">
                            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
                            <label for="dob">Birth Date:</label>
                            <input class="un" type="date" th:field="*{dob}" id="dob">
                            <small th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">Birth Date Error</small>
                        <button class="submit" type="submit">Add</button>
                    </form>
                    <!--
                    <form class="form1" name="f" th:action="@{/login}" method="POST" style="padding:100px;">
                        <table style="width:100%">
                            <tr th:if="${param.error}" class="alert alert-error">
                                Invalid email and password.
                            </tr>
                            <tr th:if="${param.logout}" class="alert alert-success">
                                You have been logged out.
                            </tr>
                            <tr><th><label for="username">Email</label></th></tr>
                            <tr><td><input class="un" type="email" id='username' placeholder="Email" name="username" size="20" required></td></tr>
                            <tr><th><label for="password">Password</label></th></tr>
                            <tr><td><input class="pass" type="password" id="password" placeholder="Password" name="password" size="20" required></td></tr>
                            <tr><th><input class="submit" type="submit" value="Submit"></th></tr>
                            <tr><td><p class="signup" align="center">Don't have an account? Sign Up <a th:href="@{/database/usercreate}">here</a></p></td></tr>

                        </table>
                    </form>-->


                </div>
                <div style="width:40%;">
                    <img style="width:150%; margin-left:100px;" src="images/web-linkdn.png" alt="" class="linkdn">
                </div>
            </div>

            </body>

            </html>

        </div>



        <div id="container" class="container py-4">
        </div>

    </div>
</th:block>

</html>