<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns=""
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<th:block layout:fragment="head" th:remove="tag">
    <title>LinkDN</title>
</th:block>



<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <!-- header title-->
            <span class="fs-4">Grade Calculator</span>
        </header>

<p>
    This tool will determine what grade (percentage) you need on your final exam in order to get a certain grade in a class.
</p>
        <h3>What is your current grade?</h3>

        <h3>What grade do you want?</h3>

        <h3>What percent is your final worth?</h3>





        <div id="container" class="container py-4">
        </div>

    </div>
</th:block>

</html>
