<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns=""
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<th:block layout:fragment="head" th:remove="tag">
    <title>LinkDN</title>
</th:block>



<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <!-- header title-->
            <span class="fs-4">Grade Calculator</span>
        </header>

<p>
    This tool will determine what grade (percentage) you need on your final exam in order to get a certain grade in a class.
</p>
        <h3>What is your current grade?</h3>
        <form class="form-inline" role="form" action="/services/gradecalc">
            <div class="row justify-content-md-center">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="number" class="form-control" id="current" name="current" placeholder="enter current grade">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="number" class="form-control" id="desired" name="desired" placeholder="enter desired grade">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="number" class="form-control" id="percent" name="percent" placeholder="What percentage is your final worth?">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Generate</button>
            </div>
        </form>






        <div id="container" class="container py-4">
        </div>

    </div>
</th:block>

</html>
