<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
    <!-- Page specific head additions -->
    <title>LinkDN</title>
</div>

<!-- <body> -->
<div layout:fragment="body" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary">
            <div class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4"><p>Welcome to LinkDN!</p></span>
            </div>
        </header>

        <div class="container-fluid py-1">
            <div class="container py-4">

                <div class="mb-4 rounded-3 p-3">
                    <div class="container-fluid py-2">
                        <div class="row">
                            <p style ="textalign: center">
                            LinkDN  is a networking platform where students of Del Norte High School can make profiles that allow students to connect and find common interests through similar career pathways.
                            <br>
                            <br>
                            <br>
                            <p style ="textalign: center">
                            We provide services such as profile creation for networking, help with résumé creation, school-wide announcements, access to school club and activities, and more!
                            <br>
                            <br>
                            <img src="/images/web-linkdn.png" width="300" height="150"  align="center">


                </div>
            </div>

        </div>
            <header class="pb-3 mb-4 border-bottom border-primary">
                <div class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-4"><p>Meet the Team:</p></span>
                </div>
            </header>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="/images/avaheartstap.jpg" width="90">
                            <h5 class="mt-3 name">Ava Brooks</h5><span class="work d-block">Design Manager</span><span class="work d-block"></span>
                            <div class="mt-4 about"><span>is an established coder in AP CSA. In this project she focused on color scheme, layout organization, and overall design for the project. </span></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/oJmLthK.jpg" width="90">
                            <h5 class="mt-3 name">Risa Iwazaki</h5><span class="work d-block">Deployment Manager</span><span class="work d-block"></span>
                            <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/HFpxxJz.jpg" width="90">
                            <h5 class="mt-3 name">Crystal Widjaja</h5><span class="work d-block">Scrum Master</span><span class="work d-block"></span>
                            <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://i.imgur.com/MZm1LNz.jpg" width="90">
                            <h5 class="mt-3 name">Sarah Xie</h5><span class="work d-block">Database Manager</span><span class="work d-block"></span>
                            <div class="mt-4 about"><span>is a long established fact that eader&nbsp; will be distracted by the readable content.</span></div>
                        </div>
                    </div>
                </div>

            <p style="text-align:center"><b>Create an account today to connect with your peers!</b></p>
    </div>

</div>

</html>