<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
    <!-- Page specific head additions -->
    <title>LinkDN</title>
</div>

<!-- <body> -->
<div layout:fragment="body" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary">
            <div class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4"><p>Welcome to LinkDN!</p></span>
            </div>
        </header>

        <div class="container-fluid py-1">
            <div class="container py-4">

                <div class="mb-4 rounded-3 p-3">
                    <div class="container-fluid py-2">
                        <div class="row">
                            <p style ="textalign: center">
                            LinkDN  is a networking platform where students of Del Norte High School can make profiles that allow students to connect and find common interests through similar career pathways
                            <br>
                            <br>
                            <b>Create an account today to connect with your peers!</b></p>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

</html>